/* Start Global Rules */

* {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}
body {
  font-family: "Nunito", sans-serif;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* End Global Rules */

/* Start Web Identity variables */
:root {
  --main-color: #2c2e33;
  --secondary-color: #ff5733;
  --third-color: #daf7a6;
  --section-padding: 80px;
}
/* End Web Identity variables */

/* Start vars */
.section-heading {
  margin-bottom: 50px;
}
.section-heading h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.section-heading h3::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #777;
}
.section-heading h3::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #777;
}
/* End Vars */

/* Start Header */
header {
  background-color: var(--main-color);
  min-height: 80px;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}

header .container h2 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

@media (max-width: 767px) {
  header .container h2 {
    font-size: 20px;
    font-weight: 700;
  }
}
header .container .links .icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

@media (min-width: 769px) {
  header .container .links .icon {
    display: none;
  }
}
header .container .links .icon span {
  background-color: var(--secondary-color);
  height: 2px;
  width: 25px;
  margin: 3px 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
}

header .container .links span:nth-of-type(2) {
  width: 20px;
  transition: 0.5s ease;
}
header .container .links:hover span:nth-of-type(2) {
  width: 25px;
}
header .container .links ul {
  display: flex;
}

header .container .links ul li {
  margin-left: 25px;
}
header .container .links ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  header .container .links ul {
    display: none;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
    background-color: var(--main-color);
    z-index: 2;
  }
  header .container .links .icon:hover + ul {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    right: 20px;
  }
  header .container .links ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    padding: 10px;
    width: 100%;
    display: block;
  }
}

/* End Header */

/* Start Main Part */
main {
  height: calc(100vh - 80px);
  background-image: url("../Images/main.jpg");
  background-size: cover;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
}

main .container h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

main .container p {
  margin-bottom: 20px;
}

main .container .view-work {
  background-image: linear-gradient(45deg, #c70039, #900c3f, #581845);
  border-radius: 25px;
  width: fit-content;
  margin-bottom: 20px;
  transition: ease 0.5s;
}
main .container .view-work a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  display: block;
  font-weight: 700;
}

main .container .view-work:hover {
  transform: scale(1.1);
}
main .container .social-icons i {
  color: var(--main-color);
  font-size: 25px;
  margin: 0 10px;
  display: inline-block;
}

/* End Main Part */

/* Start Projects */

.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.projects .container .proj-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.projects .container .proj-holder .proj {
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #777;
  background: #eee;
  transition: ease 0.5s;
}

.projects .container .proj-holder .proj:hover {
  transform: scale(1.05);
}

.projects .container .proj-holder .proj img{
transition: 0.5s ease;
}

.projects .container .proj-holder .proj:hover img{
  opacity: 0.8;
  transform: scale(1.2) rotate(4deg);
}
.projects .container .proj-holder .proj .image {
  height: 250px;
  overflow: hidden;
}

.projects .container .proj-holder .proj .prj-name {
  margin: 15px 0;
  padding: 0 10px;
}

.projects .container .proj-holder .proj div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .container .proj-holder .proj div p {
  padding: 0 10px 10px;
}

.projects .container .proj-holder .proj div span {
  font-weight: 800;
  padding: 0 10px 10px;
}
/* End Projects */

/* Start About */

.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../Images/about.jpg");
  background-size: cover;
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
}
.about .section-heading h3::before {
  border: 2px solid #fff;

}
.about .section-heading h3::after {
  
  border: 2px solid #fff;
}
.about .container {
  position: relative;
}
.about .section-heading h3 {
  color: #fff;
}

.about .container ul {
  margin: auto auto auto 20px;

  align-items: flex-start;
  list-style: circle;
}

.about .container ul li {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  line-height: 2;
}

/* End About */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .contacts-cards {
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
}
/* @media (max-width:767px){
    .contact .contacts-cards{
        flex-basis: 80%;
    }
} */

.contact .contacts-cards .card {
  border-radius: 15px;
  border: 1px solid #777;
  box-shadow: black 10px 15px 30px -5px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.contact .contacts-cards .card i {
  display: block;
  font-size: 100px;
  color: #581845;
  margin-bottom: 20px;
  min-width: 200px;
}

.contact .contacts-cards .card a {
  text-decoration: none;
  font-weight: 800;
}
/* End Contact */

/* Start Foooter */
footer {
  background-color: var(--main-color);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}
footer .container p {
  color: white;
}

footer .container i {
  color: white;
}

@media (min-width:768px){
    footer .container p,
    footer .container i {
      font-size: 20px;
      }
      footer .container i{
          margin-left: 15px;
      }
}

/* End Foooter */
